services:
 backend:
  build: ./backend
  ports:
   - "3000:3000"
  environment:
   - PORT=3000
   - MYSQL_DATABASE=db_annonces
   - MYSQL_USER=appuser
   - MYSQL_PASSWORD=userpwd
   - MYSQL_HOST=db
  depends_on:
   - db

 db:
  image: mysql:8.0
  ports:
   - "3006:3306"
  volumes:
   - db_data:/var/lib/mysql
   - ./db/init_db.sql:/docker-entrypoint-initdb.d/init_db.sql:ro
  environment:
   - MYSQL_DATABASE=db_annonces
   - MYSQL_USER=appuser
   - MYSQL_PASSWORD=userpwd
   - MYSQL_ROOT_PASSWORD=rootpassword
 frontend:
  build: ./frontend
  ports:
   - "8080:80"

volumes:
 db_data:
